<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
	   
	</head>
	<body>
		<div th:fragment="header">
			<nav class="navbar navbar-fixed-top">
				<div class="container-fluid col-sm-11">
					<div class="navbar-header">
						<a class="navbar-brand navbar-big-brand" href="#">Thadalodar</a>
						<a class="navbar-brand navbar-small-brand" th:if="${session.username == null}" href="#" th:href="@{/}">Login</a>
					    <a class="navbar-brand navbar-small-brand" th:if="${session.username != null}" href="#" th:href="@{/welcome}">Welcome</a>
					    <a class="navbar-brand navbar-small-brand" th:if="${session.username != null}" href="#" th:href="@{/campaign}">Campaigns</a>
					    <a class="navbar-brand navbar-small-brand" th:if="${session.username == null}" href="#" th:href="@{/register}">Register</a>
					    <a class="navbar-brand navbar-small-brand" th:if="${session.username != null}" href="#" th:href="@{/logout}">Logout</a>
					</div>
				</div>
				<div class="container-fluid col-sm-1">
					<br>
					<span th:if="${session.username != null}">Hello, </span><span th:if="${session.username != null}" th:text="${session.username}"></span>
				</div>
			</nav>
		</div>
	</body>
</html>